In [1]:
a = [1,2,3,4,5]

In [2]:
len(a)

5

In [3]:
a[3]

4

In [5]:
s = 0
s = s + 1
s = s + 2
s = s + 3
s = s + 4
s = s + 5

s

15

In [6]:
s = 0
s += 1
s += 2
s += 3
s += 4
s += 5

s

15

In [13]:
s = 0

for x in [1,2,3,4,5]:
    s = s + x

s

15

リストの各要素をxという（仮の）名前を付けて取り出す。

In [17]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)
    
s

5349
5478
5344
4644
4968
6259

32042

In [20]:
s = 0

for x in list_tohoku:
    s += x
    
s

32042

In [ ]:
s/6

In [22]:
s/len(list_tohoku)

5340.333333333333

In [23]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val

avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [25]:
list_shikoku = [3148, 2991, 2966, 2457]
avg_shikoku = 0.0

for heikin in list_shikoku:
    avg_shikoku += heikin
    
avg_shikoku /= len(list_shikoku)
print(avg_shikoku)

2890.5

In [26]:
list_shikoku = [3148, 2991, 2966, 2457]

s = 0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

In [28]:
from statistics import *

In [29]:
mean(list_shikoku)

2890.5

In [34]:
a = {'Apple':100,'Orange':150,'Grape':200}

In [35]:
a['Apple']

100

In [48]:
s = 0

for x in a:
    s += a[x]

s/len(a)

150.0

In [49]:
a

{'Apple': 100, 'Grape': 200, 'Orange': 150}

In [50]:
a.values()

dict_values([100, 150, 200])

In [51]:
s = 0
for x in a.values():
    s += x
s/len(a)

150.0

In [52]:
mean(a.values())

150

In [53]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [54]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [55]:
a = [1,2,3,4,5]

In [56]:
avg = mean(a)

In [57]:
avg

3

In [59]:
b = [(1-3)**2,(2-3)**2,(3-3)**2,(4-3)**2,(5-3)**2]
b

[4, 1, 0, 1, 4]

In [61]:
var = mean(b)
var

2

In [62]:
stdev = var**0.5
stdev

1.4142135623730951

In [78]:
a = [1,2,3,4,5]

s = 0
for x in a:
    s += x
s

avg = s/len(a)

s = 0
for x in a:
    s += (x - avg)**2
v = s/len(a)
v**0.5

1.4142135623730951

In [80]:
a = list(range(1,21))
s = 0
for x in a:
    s += x

avg = s/len(a)

s = 0
for x in a:
    s += (x - avg)**2
v = s/len(a)
v**0.5

5.766281297335398